name: CI

on:
  pull_request:
  push:
    branches:
      - development
      - master

defaults:
  run:
    shell: bash

jobs:
  deploy-to-production:
    container:
      image: 1mill/terraform-sops:2020-07-02_03-40-45
    if: endsWith(github.ref, 'master') == true
    needs: [package, test]
    runs-on: ubuntu-20.04
    steps:
      - name: Download version artifact
        uses: actions/download-artifact@v1
        with:
          name: version
      - name: Set environmental VERSION
        run: echo "::set-env name=VERSION::`cat version/version.txt`"
      - name: Fetch infastructure
        env:
          REPOSITORY: ${{ github.repository }}
          VERSION: ${{ env.VERSION }}
        run: |
          apt-get update && apt-get install --yes unzip wget
          wget -O /tmp/code.zip https://github.com/${REPOSITORY}/archive/${VERSION}.zip
          unzip /tmp/code.zip -d /tmp
          mv /tmp/*-${VERSION}/*.tf* /app
      - name: Validate infastructure
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_PROFILE: ${{ secrets.AWS_PROFILE }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TF_VAR_APPLICATION_REPOSITORY: ${{ github.repository }}
          TF_VAR_APPLICATION_VERSION: ${{ env.VERSION }}
          TF_VAR_HEROKU_APIKEY: ${{ secrets.HEROKU_APIKEY }}
          TF_VAR_HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
        run: |
          cd /app
          terraform init
          terraform plan
      - name: Provision infastructure
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_PROFILE: ${{ secrets.AWS_PROFILE }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TF_VAR_APPLICATION_REPOSITORY: ${{ github.repository }}
          TF_VAR_APPLICATION_VERSION: ${{ env.VERSION }}
          TF_VAR_HEROKU_APIKEY: ${{ secrets.HEROKU_APIKEY }}
          TF_VAR_HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
        run: |
          cd /app
          terraform init
          terraform apply -auto-approve

  package:
    if: endsWith(github.ref, 'master') == true
    needs: [test]
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Generate release version
        run: echo "::set-env name=VERSION::$(date +'%Y-%m-%dT%H-%M-%S')"
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: actions/create-release@v1
        with:
          draft: false
          prerelease: false
          release_name: Release ${{ env.VERSION }}
          tag_name: ${{ env.VERSION }}
      - name: Create version.txt
        run: echo ${VERSION} > version.txt
      - name: Upload version.txt
        uses: actions/upload-artifact@v1
        with:
          name: version
          path: version.txt

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Run tests
        run: |
          npm install
          npm test
