name: CI

on:
  pull_request:
  push:
    branches:
      - development
      - master

jobs:
  deploy-to-production:
    if: endsWith(github.ref, 'master') == true
    needs: [package, test]
    runs-on: ubuntu-20.04
    env:
      VERSION_TEST: ${{ env.VERSION }}
    steps:
      - name: Download version.txt
        uses: actions/download-artifact@v1
        with:
          name: version
      - name: Check correct version is got
        run: |
          value=`cat version/version.txt`
          echo The result of value was ${value}
        shell: bash
      - run: echo ${VERSION_TEST}
      - run: echo ${VERSION}
      - run: echo "::set-env name=TESTING::$(date +'%Y-%m-%dT%H-%M-%S')"
      - run: echo ${testing}

  package:
    if: endsWith(github.ref, 'master') == true
    needs: [test]
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Generate release version
        run: echo "::set-env name=VERSION::$(date +'%Y-%m-%dT%H-%M-%S')"
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: actions/create-release@v1
        with:
          draft: false
          prerelease: false
          release_name: Release ${{ env.VERSION }}
          tag_name: ${{ env.VERSION }}
      - name: Create version.txt
        run: echo ${VERSION} > version.txt
      - name: Upload version.txt
        uses: actions/upload-artifact@v1
        with:
          name: version
          path: version.txt

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm install
      - run: npm test
